* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:   #98FB98; 
}


.separador {
  background-color: var(--verde-oscuro);
  border: 2px solid var(--verde-oscuro);
}

