body {
  background: var(--verde-crema);
}

h2 {
  font-family: var(--titulo);
  font-size: 3rem;
  margin: 1.5rem auto;
  text-align: center;
}

nav div {
  position: absolute;
  opacity: 0;
}

#menu-icon {
  position: absolute;
  color: #fff !important;
  font-size: 2.5em;
  margin: 0.75em;
  z-index: 1;
  cursor: pointer;
}

.miscelaneos {
  position: relative;
}

.miscelaneos ul li img {
  width: 18rem;
  height: 18rem;
}

.miscelaneos ul li img:hover {
  transform: scale(1.15);
}

.miscelaneos ul {
  display: grid;
  width: 60rem;
  height: 30rem;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer {
  margin: 12rem auto auto auto;
  background: var(--verde-oscuro);
}

footer a {
  color: var(--verde-crema);
}

.slider i {
  z-index: 2;
  font-size: 3rem;
  position: absolute;
}

.slider i:first-of-type {
  /*margin-right: 70.4rem;*/
  margin-right: 67.6rem;
}

.slider i:last-of-type {
  /*margin-left: 70.8rem;*/
  margin-left: 68.3rem;
}

.slider-content {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  display: flex;
  width: 84rem;
  height: 42.5rem;
  overflow: hidden;
}

ul {
  list-style-type: none;
  display: flex;
}

.slider-img {
  width: 84rem;
  height: 59rem;
  /*margin: 1.25rem;*/
}

.slider-opcs {
  margin-left: 252rem;
  animation: carrusel 25s infinite linear;
}

@keyframes carrusel {
  0% {
    margin-left: 252rem;
  }
  20% {
    margin-left: 252rem;
  }

  25% {
    margin-left: 84rem;
  }
  45% {
    margin-left: 84rem;
  }

  50% {
    margin-left: -84rem;
  }
  70% {
    margin-left: -84rem;
  }

  75% {
    margin-left: -252rem;
  }
  95% {
    margin-left: -252rem;
  }
}

/* Estilo para Tablet */

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .miscelaneos ul {
    display: grid;
    width: 40rem;
    height: 30rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2em;
    column-gap: 5em;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  footer {
    margin: 15rem auto auto auto;
    background: var(--verde-oscuro);
  }

  .miscelaneos ul li img {
    width: 12rem;
    height: 12rem;
  }

  .slider-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    display: flex;
    width: 50.6rem;
    height: 42.5rem;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  .slider-img {
    width: 50.6rem;
    height: 43rem;
    /*margin: 1.25rem;*/
  }

  .slider-opcs {
    margin-left: 151.8rem;
    animation: carrusel 25s infinite linear;
  }

  @keyframes carrusel {
    0% {
      margin-left: 151.8rem;
    }
    20% {
      margin-left: 151.8rem;
    }

    25% {
      margin-left: 50.6rem;
    }
    45% {
      margin-left: 50.6rem;
    }

    50% {
      margin-left: -50.6rem;
    }
    70% {
      margin-left: -50.6rem;
    }

    75% {
      margin-left: -151.8rem;
    }
    95% {
      margin-left: -151.8rem;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .miscelaneos ul {
    display: grid;
    width: 20rem;
    height: 10rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  footer {
    margin: 47rem auto auto auto;
    background: var(--verde-oscuro);
  }

  .miscelaneos ul li img {
    width: 12rem;
    height: 12rem;
  }
  .slider-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    display: flex;
    width: 30.1rem;
    height: 30rem;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  .slider-img {
    width: 30.1rem;
    height: 30rem;
    /*margin: 1.25rem;*/
  }

  .slider-opcs {
    margin-left: 90.2rem;
    animation: carrusel 25s infinite linear;
  }

  @keyframes carrusel {
    0% {
      margin-left: 90.2rem;
    }
    20% {
      margin-left: 90.2rem;
    }

    25% {
      margin-left: 30rem;
    }
    45% {
      margin-left: 30rem;
    }

    50% {
      margin-left: -30rem;
    }
    70% {
      margin-left: -30rem;
    }

    75% {
      margin-left: -90.2rem;
    }
    95% {
      margin-left: -90.2rem;
    }
  }
}

/* Para Teléfonos */
@media screen and (max-width: 480px) {
  .miscelaneos ul {
    display: grid;
    width: 10rem;
    height: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  footer {
    margin: 45rem auto auto auto;
    background: var(--verde-oscuro);
  }

  .miscelaneos ul li img {
    width: 10rem;
    height: 10rem;
  }
  .slider-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    display: flex;
    width: 25.7rem;
    height: 28rem;
    overflow: hidden;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  .slider-img {
    width: 25.7rem;
    height: 28rem;
    /*margin: 1.25rem;*/
  }

  .slider-opcs {
    margin-left: 77.1rem;
    animation: carrusel 25s infinite linear;
  }

  @keyframes carrusel {
    0% {
      margin-left: 77.1rem;
    }
    20% {
      margin-left: 77.1rem;
    }

    25% {
      margin-left: 25.7rem;
    }
    45% {
      margin-left: 25.7rem;
    }

    50% {
      margin-left: -25.7rem;
    }
    70% {
      margin-left: -25.7rem;
    }

    75% {
      margin-left: -77.1rem;
    }
    95% {
      margin-left: -77.1rem;
    }
  }
}
}
