

.portada {
    position: fixed;
    z-index: -1;
}

#cover {
    position: fixed;
    width: 100%;
    transform: translateY(-250px);
    filter: brightness(0.3);
}

#titulo {
    width: 100%;
    position: relative;
    color: #FFF;
    font-family: var(--titulo);
    font-size: 9em;
    margin: 1.25em 1.75em 0 1.75em;
}

#subtitulo {
    width: 100%;
    position: relative;
    color: #FFF;
    font-family: var(--titulo);
    font-size: 4em;
    margin: 0em 9em;
}

#section-container {
    width: 100%;
    height: 100%;
    background-color: var(--verde-crema);
    transform:translateY(50em) ;
    
}



#datos {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4em 0;
    margin-bottom: 2em;
}

.icon {
    color: #FFF;
    font-size: 2.5em;
    position: relative;
    
}

#house {
    transform: translate(28px, 27px);
}

#calendar {
    transform: translate(33px, 29px);
}

#money {
    transform: translate(28px, 30px);
}

.dato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10em;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--verde);
    
}

.texto {
    padding: 0.5em 0;
    text-align: center;
    font-family: var(--cuerpo);
}

.separador {
    background-color: var(--verde-oscuro);
    border: 1px solid var(--verde-oscuro);
}

#historia {
    margin: 2em 0;
    padding: 0 2em;
    width: 100%;
}



.titulo-historia {
    font-family: var(--titulo);
    font-size: 5em;
    color: var(--verde-oscuro);
    cursor: default;
}

.cuerpo-historia {
    font-family: var(--cuerpo);
    font-size: 1.5em;
    text-align: justify;
}
