@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300;400;500&display=swap");

:root {
  --verde-oscuro: #009d71;
  --verde: #2ca880;
  --verde-claro: #57bd9e;
  --verde-suave: #c2e8ce;
  --verde-crema: #f2f9f1;
  --titulo: "Bebas Neue", cursive;
  --cuerpo: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms;
  font-family: var(--cuerpo);
  scroll-behavior: smooth;
}

#menu-icon {
  position: absolute;
  color: #fff;
  font-size: 2.5em;
  margin: 0.75em;
  z-index: 10;
  cursor: pointer;
}

.noScroll {
  position: fixed;
  overflow: hidden;
}

.separador {
  background-color: var(--verde-oscuro);
  border: 2px solid var(--verde-oscuro);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--verde);
  display: flex;
  align-items: center;
  justify-content: center;
}


nav.menu-container {
  position: fixed;
  /* background-color: var(--verde-crema); */
  background-color: var(--verde-crema);
  margin: 0;
  height: 100%;
  width: 15%;
  z-index: 10;
  transform: translateX(-250px);
}

.menu-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu-item:first-child {
  font-size: 2em;
  text-align: center;
  padding-bottom: 1em !important;
  margin: 0 !important;
  color: var(--verde-oscuro);
  font-weight: bold;
  cursor: default;
}

.menu-ul .menu-item {
  padding: 1.18em 0.75em;
  align-items: center;
  font-size: 1.35em;
}

.menu-ul a {
  width: 100%;
  text-decoration: none;
  color: var(--verde-oscuro);
  text-decoration: none;
  color: var(--verde-oscuro);
}

.menu-item:hover:not(:first-child) {
  background-color: var(--verde-oscuro);
}

.menu-item:hover a {
  color: var(--verde-crema);
}

i {
  margin: 0 0.5em 0 0.3em;
}

#close {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em !important;
  margin: 0.35em 0.35em 0 0 !important;
  color: var(--verde-oscuro);
}

#up {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  width: 5em;
  height: 5em;
  z-index: 10;
  cursor: pointer;
}

#up i {
  color: white;
  margin: inherit;
  font-size: 1.75em;
}

footer {
  align-items: center;
  position: relative;
  display: flex;
  padding: 1em 0;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: var(--verde);
  font-size: 3em;
}

.footer-text {
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  /* Estilo para Telefono*/
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Estilo para Tablet */
  nav.menu-container {
    position: fixed;
    /* background-color: var(--verde-crema); */
    background-color: var(--verde-crema);
    height: 100%;
    width: 30%;
    z-index: 1;
    transform: translateX(-250px);
  }

  .menu-item:first-child {
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.25em !important;
    margin: 0 !important;
    color: var(--verde-oscuro);
    font-weight: bold;
    cursor: default;
  }

  .menu-ul .menu-item {
    padding: 0.75em 0.75em;
    align-items: center;
    font-size: 1.35em;
  }
}

.circle {
  border-radius: 50%;
  background-color: var(--verde);
  display: flex;
  align-items: center;
  justify-content: center;
}
